<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <servlet>
  <servlet-name>ControllerLogin</servlet-name>
  <servlet-class>dxk.servlet.ControllerLogin</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ControllerRegister</servlet-name>
  <servlet-class>dxk.servlet.ControllerRegister</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ControllerModifyInfo</servlet-name>
  <servlet-class>dxk.servlet.ControllerModifyInfo</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ControllerCreateTopic</servlet-name>
  <servlet-class>dxk.servlet.ControllerCreateTopic</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ControllerDeleteTopic</servlet-name>
  <servlet-class>dxk.servlet.ControllerDeleteTopic</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ControllerViewContent</servlet-name>
  <servlet-class>dxk.servlet.ControllerViewContent</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ControllerCloseTopic</servlet-name>
  <servlet-class>dxk.servlet.ControllerCloseTopic</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ControllerReply</servlet-name>
  <servlet-class>dxk.servlet.ControllerReply</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ControllerLogout</servlet-name>
  <servlet-class>dxk.servlet.ControllerLogout</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ControllerDeleteReply</servlet-name>
  <servlet-class>dxk.servlet.ControllerDeleteReply</servlet-class>
 </servlet>
  <servlet>
    <servlet-name>ControllerUserList</servlet-name>
    <servlet-class>dxk.servlet.ControllerUserList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControllerSaveUserInfo</servlet-name>
    <servlet-class>dxk.servlet.ControllerSaveUserInfo</servlet-class>
  </servlet>


 <servlet-mapping>
  <servlet-name>ControllerLogin</servlet-name>
  <url-pattern>/userlogin</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ControllerRegister</servlet-name>
  <url-pattern>/register</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ControllerModifyInfo</servlet-name>
  <url-pattern>/modifyUserInfo</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ControllerCreateTopic</servlet-name>
  <url-pattern>/createTopic</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ControllerDeleteTopic</servlet-name>
  <url-pattern>/deleteTopic</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ControllerViewContent</servlet-name>
  <url-pattern>/viewContent</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ControllerCloseTopic</servlet-name>
  <url-pattern>/closeTopic</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ControllerReply</servlet-name>
  <url-pattern>/reply</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ControllerLogout</servlet-name>
  <url-pattern>/logout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ControllerDeleteReply</servlet-name>
  <url-pattern>/deleteReply</url-pattern>
 </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControllerUserList</servlet-name>
    <url-pattern>/userList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControllerSaveUserInfo</servlet-name>
    <url-pattern>/saveUserInfo</url-pattern>
  </servlet-mapping>
 <session-config>
  <session-timeout>200</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>404</error-code>
  <location>/error/error.jsp</location>
 </error-page>
 <error-page>
  <error-code>403</error-code>
  <location>/error/error.jsp</location>
 </error-page>
 <error-page>
  <error-code>500</error-code>
  <location>/error/error.jsp</location>
 </error-page>
 <login-config>
  <auth-method>BASIC</auth-method>
 </login-config>
</web-app>
